# RoboMaster C 板 — STM32F407IGHx
# 接口：外接 ST-Link V2 (SWD)

source [find interface/stlink.cfg]
transport select swd
adapter speed 4000

source [find target/stm32f4x.cfg]

# 使用软件复位，更可靠
reset_config none separate
